-----BEGIN CERTIFICATE-----
MIIF7DCCA9SgAwIBAgIQC77XHB8fq5oCVjhIVxWy2TANBgkqhkiG9w0BAQsFADCB
gjELMAkGA1UEBhMCQ04xEDAOBgNVBAgTB0JlaUppbmcxEDAOBgNVBAcTB0JlaUpp
bmcxEDAOBgNVBAoTB3F1YmVrbXMxDjAMBgNVBAsTBUluZnJhMRAwDgYDVQQDEwdx
dWJla21zMRswGQYJKoZIhvcNAQkBFgxoeG5kZ0BxcS5jb20wHhcNMjUwNTEwMTM1
NjM0WhcNMzUwNTEwMTM1NjM0WjCBjDELMAkGA1UEBhMCQ04xEDAOBgNVBAgTB0Jl
aUppbmcxEDAOBgNVBAcTB0JlaUppbmcxEDAOBgNVBAoTB3F1YmVrbXMxRzBFBgNV
BAMTPnVzZXI6aHhuZGcsYXBwa2V5OnhxSFNFalVkSDFrVWRiMGxYNy83cXJaOC91
bEdTc3BJS2prbkYvT2hJRVk9MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKC
AgEA5WAZ0zm6tQbECWI4U5ctpre7FuWbFKEdA2qOqQe7RdIAFCNIksN246693PS4
izu7s+NbvxXKb2aoBIJck4vg63+Jlwflm3GKE24XttKRSPHc1PtYh9keoIZVALLM
Kf2sUM+nEd3rTArVFoJ5RkFo/q3mT4fytAFFDBVqj8VVBqziBRN4QqGlyb5MA0df
Y+UidLle7U5qCNUmhzRFX4LGmIb48nGJr5502cDCnjFZsFLuAp71Pjw6jwuV5io6
/bHfcLgWLxejBNp+tvGr14lgbnPXUrdLVFsCdGZExYFKD3/aX52FPTzOTuUWFFjT
IVfjrUWocTu4FuNfFBXR+3pg4Y9sFiYRtvx59iDOA8ItMiMRK1/rEG9JqZbAk3dG
8FgiguBtILToL6lyHY8woD/ftLAXSq7Gh+go8mK/lpPJJqKnmCjvr4vDUQAsPx/W
FzKGXdyI1o0iKYjvL+A/Q2JuFL79CGt+NngNXpHJqk3ZcvHD36G7kozL9ov0bM+c
/RmsV0AYWEcaeg/waZhRtf0SjqKG6N/+9/NKiuSC2LVc203B9GSCDZ2pf2mt2CK1
1vhDwoPmxggN8XsfJsm6Vs8odOlr+sPOLLvzXeeKkq74tzLawiZRKWr3fU/cuxmU
tObVA0Yq9CpHkKb0KurnW+hyljq5wm66A5bi6L96H2szncUCAwEAAaNSMFAwDgYD
VR0PAQH/BAQDAgeAMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAfBgNV
HSMEGDAWgBRzksZwbnaJqYFVsuTMroN7OQ99DjANBgkqhkiG9w0BAQsFAAOCAgEA
gttByNKTaj2AeD+G87MaGojpGgQ5K5u39UNWBVSTNRLZCq04Spzc9IK2a/05SWFi
pikZqYEFuY9gZ5pb+W0rRboYsmTCf5Oe5s+2XxB8RNR5pZlbZo1SbVOTLCXxN4kb
zvuVPuNpAqxVfy6MBgd7ym+Vl61fws51+cBNPwRyZtU2p2XHIdpY68yVFlSIRdF3
XTW+0XHnZ+N2Qaqhz+jUVt9lgb3CT49Zq2Il0pDnj8ImsaYmHm15buPxGh7FYfQF
mQItad4cGc3Ohw/ach4fLj+J6uYCzAXp/eCQ+bY12eOQd/8yOUuaHi+WQ8BD0Vot
zaYH0KmF2b0v4fmB9kCUGfWLeuoIJ6w3BMuCt6isK2HrDUXJ2kFLQQb7tbn5uNPF
suhUbUczYFkC0D/ZFeg38FgMomo8BUtHEHsty6dCL7kc1ezuDquu+mpK50MGQkhM
2r4pdmohe9Y5N41i0VZ09vKcEp1bO3w+SrzjJtJxaWprDGymGtDEqPE7lcqkHftq
OBELdK7RQJFcb05BG4xTdjfL0pIf0uw15WcOyH0r4vAWmqBx3YDZjsfddgjhh1SB
1nAIKKcN52MPX/FkfCCy0yo5BfPinUIMYBf0q4CXpj55TESlqakOAiSLSZsQXfNE
uGKhlNQ0J608SEWIMJxcZtld5k/dOVI6phKNq9o/kLI=
-----END CERTIFICATE-----